body
  padding: 0
  margin: 0
  font-family: sans-serif
  user-select: none

#container
  width: 100vw
  height: 100vh
  display: flex

#map
  width: 100vw
  height: 100vh
  background: black
  overflow: hidden;

#graph
  position: absolute;
  left: 0
  width: 100vw
  height: 15vh
  bottom: 0
  z-index: 10
  background: rgba(26,24,22, .8);
  color: white;
  // background: white;`h

.reset-zoom
  position: absolute;
  top: 50px;
  right: 30px;

.mapboxgl-ctrl-bottom-right
  display: none
