body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  user-select: none;
}
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#map {
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
}
#timechart,
#timechartContainer {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 15vw;
  bottom: 0;
  z-index: 10;
  background: rgba(26,24,22,0.8);
  color: #fff;
}
.reset-zoom {
  position: absolute;
  top: 50px;
  right: 30px;
}
.mapboxgl-ctrl-bottom-right {
  display: none;
}
#daterange {
  position: absolute;
  z-index: 10000;
}
.datepicker-view {
  background: #262422;
}
.datepicker-cell.range,
.datepicker-cell.range-start,
.datepicker-cell.range-end,
.datepicker-controls .button {
  background: #262422 !important;
  color: #fc0 !important;
}
.datepicker-cell:hover {
  background: #000;
}
input {
  background: #262422;
  color: #fff;
}
#panel {
  display: none;
  position: fixed;
  width: 300px;
  background: #262422;
  padding: 10px;
  color: #fff;
  margin: 10px;
  margin-top: 100px;
}
#panel input {
  width: 100%;
}
#panel .title {
  margin-top: 10px;
}
#panel #controls {
  display: flex;
  flex-direction: column;
}
#panel #controls input {
  margin-top: 10px;
  width: 100%;
}
#graph {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #262422;
}
#mode {
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 10000;
}
#mode input {
  padding: 10px;
}
.selected {
  color: #ffa500;
}
#search {
  position: absolute;
  left: 1em;
  z-index: 1000;
  top: 1em;
}
#csv {
  display: none;
}
