doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
    link(rel='stylesheet' type='text/css' href='/index.css')
    script(src="/ramda.js")
    script(src="/msgpack5.min.js")
    script(src="/idbkvstore.min.js")
    script(src="/mousetrap.min.js")
    script(src='/mapbox-gl.js')
    script(src='/chart.min.js')
    script(src='/chartjs-plugin-crosshair.min.js')
    script(src='/datepicker-full.min.js')
    script(src='/sigma-bundle.js')
    //- script(src='/jspanel.js')
    script(src='/colvertize.js')
    //- script(src='https://cdn.jsdelivr.net/npm/graphology-library@0.7.1/dist/graphology-library.min.js')
      
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
    //- link(href='/mapbox-gl.css' rel='stylesheet')
    //- <link href="/jspanel.css" rel="stylesheet">
    //- <script src="/jspanel.js"></script>
    title Radio analisis
    
body
  
  #container
    #mode
      input#en(type='button' value='eng' onclick="window.trans('en')")
      input#uk(type='button' value='ukr' onclick='window.trans("uk")')
      br
      input#graph-mode(type='button' value='Graph' en='Graph' uk='Граф' onclick='mode.graph()')
      input#map-mode(type='button' value='Map' en='Map' uk='Мапа' onclick='mode.map()')
      br
      input#upload(type='button' onclick='I("csv").click()' value='Upload CSV' en='Upload CSV' uk='Завантажити CSV')
      br
      input#addStation(type='button' onclick='Station.add()' value='Add site'  uk='Додати пост')
        
      input#csv(type='file' value='Завантажити данні' onchange='uploadCSV()')
        
    <div id="search">
      <input type="search" id="search-input" list="suggestions" placeholder="Search" en='Search' uk='Пошук' />
      <datalist id="suggestions"></datalist>
      #daterange
        input#start.daterange(ondatechange='DateRange.change()')
        input#end.daterange(onchange='DateRange.change()')
    </div>
    
    #graph
      
    #panel
      b(uk='Редагування посту радіорозвідки') Edit site
      #values
        input#id(type='hidden')
        .title(uk='Назва') Name
        input#station(value='Пост 1')
        .title(uk='IP адреса') IP address
        input#address(value='127.0.0.1')
        .title(uk='Дата встановлення') Install date
        input#date
        .title(uk='путь до файла') sync files path
        input#path(value='~/*.csv')
        .title(uk='координати') Geoposition
        input#position(disabled)
          
      div#controls
        input#position(type='button' value='Change station' uk='Змінити позицію' onclick='Station.position()')
        input#sync(type='button' onclick=`Station.sync(I("station").value)` value='Sync csv' uk=`Скачати CSV`)
        input#save(type='button' onclick=`Station.save()` value='Save' uk=`Зберегти`)
        input#save(type='button' onclick=`Station.delete(I("station").value)` value='Delete' uk=`Видалити`)
        input#hide(type='button' onclick=`I('panel').style.display = 'none'` value='Cancel' uk=`Відмінити`)
          
      
    #map
      
    #timechartContainer
      canvas#timechart(width='100vw' height='15vh')
                    
  script(src="/main.js")
  script(src="/map.js")
  script(src="/timechart.js")
  script(src="/graph.js")
