doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
    link(rel='stylesheet' type='text/css' href='/index.css')
    script(src="/ramda.js")
    script(src="/msgpack5.min.js")
    script(src="/idbkvstore.min.js")
    script(src="/mousetrap.min.js")
    script(src='/mapbox-gl.js')
    script(src='/chart.min.js')
    script(src='/chartjs-plugin-crosshair.min.js')
    script(src='/datepicker-full.min.js')
    script(src='/sigma-bundle.js')
    script(src='/jspanel.js')
    script(src='/colvertize.js')
    //- script(src='https://cdn.jsdelivr.net/npm/graphology-library@0.7.1/dist/graphology-library.min.js')
      
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
    //- link(href='/mapbox-gl.css' rel='stylesheet')
    //- <link href="/jspanel.css" rel="stylesheet">
    //- <script src="/jspanel.js"></script>
    title Radio analisis
    
body
  
  #container
    #mode
      input#graph-mode(type='button' value='Граф' onclick='mode.graph()')
      input#map-mode(type='button' value='Карта' onclick='mode.map()')
      br
      input#upload(type='button' onclick='I("csv").click()' value='Завантажити CSV')
      br
      input#addStation(type='button' onclick='Station.add()' value='Додати пост')
        
      input#csv(type='file' value='Завантажити данні' onchange='uploadCSV()')
        
    <div id="search">
      <input type="search" id="search-input" list="suggestions" placeholder="Пошук" />
      <datalist id="suggestions"></datalist>
      #daterange
        input#start.daterange(ondatechange='DateRange.change()')
        input#end.daterange(onchange='DateRange.change()')
    </div>
    
    #graph
      
    #panel
      b Редагування посту радіорозвідки
      #values
        input#id(type='hidden')
        .title Назва
        input#station(value='Пост 1')
        .title IP адреса
        input#address(value='127.0.0.1')
        .title Дата встановлення
        input#date
        .title путь до файла
        input#path(value='~/*.csv')
        .title координати
        input#position(disabled)
          
      div#controls
        input#position(type='button' value='Змінити позицію' onclick='Station.position()')
        input#sync(type='button' onclick=`Station.sync(I("station").value)` value=`Перевірити зв'язок`)
        input#save(type='button' onclick=`Station.save()` value=`Зберегти`)
        input#hide(type='button' onclick=`I('panel').style.display = 'none'` value=`Відмінити`)
          
      
    #map
      
    #timechartContainer
      canvas#timechart(width='100vw' height='15vh')
                    
  script(src="/main.js")
  script(src="/map.js")
  script(src="/timechart.js")
  script(src="/graph.js")
